# Django / Django
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me-for-local-development-only
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Databases / Bazy danych
POSTGRES_DB=logiflow
POSTGRES_USER=logiflow
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
