COMPOSE_PROJECT_NAME=logiflow3pl

POSTGRES_DB=logiflow
POSTGRES_USER=logiflow
POSTGRES_PASSWORD=change-me-for-local-development
POSTGRES_PORT=5432

MSSQL_SA_PASSWORD=ChangeMe_StrongPassword123!
MSSQL_PORT=1433
MSSQL_PID=Developer
